<% layout('layouts/boilerplate') %>

<h1>Campgrounds</h1>
<a href="/campgrounds/new">Add new campground</a>

<ul>
  <% for (const camp of campgrounds) { %>
  <li><a href="/campgrounds/<%= camp._id %>"><%= camp.title %></a> - - <%= camp.location %></li>
  <% } %>
</ul>
