<% layout('layouts/boilerplate') %>

<div class="row justify-content-center mt-5">
  <h1 class="text-center mb-4">Login</h1>
  <div class="col-md-6 col-lg-4">
    <form
      action="/login"
      method="POST"
      novalidate
      class="validated-form p-4 border rounded-3 bg-light shadow-sm"
    >
      <div class="mb-3">
        <label class="form-label" for="username">Username:</label>
        <input
          class="form-control"
          type="text"
          id="username"
          name="username"
          placeholder="Type username"
          required
          autofocus
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Password:</label>
        <input
          class="form-control"
          type="password"
          id="password"
          name="password"
          placeholder="Type password"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="d-grid">
        <button class="btn btn-primary btn-block">Login</button>
      </div>
    </form>
    <div class="text-center mt-3">
      <a href="/">Return Home</a>
    </div>
  </div>
</div>
