<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Register</h1>
  <div class="col-4 offset-4">
    <form action="/register" method="POST" novalidate class="validated-form">
      <div class="mb-3">
        <label class="form-label" for="username">Username:</label>
        <input
          class="form-control"
          type="text"
          id="username"
          name="username"
          placeholder="Type username"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="email">Email:</label>
        <input
          class="form-control"
          type="email"
          id="email"
          name="email"
          placeholder="Type email"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Password:</label>
        <input
          class="form-control"
          type="password"
          id="password"
          name="password"
          placeholder="Type password"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary">Register</button>
      </div>
    </form>
    <a href="/">Return Home</a>
  </div>
</div>
